<h1>Dots and Boxes</h1>

<%=javascript_include_tag 'game' %>
<%=javascript_tag do%>
    window.root_url = "<%= root_url %>";
    window.size = <%= @size %>;
    window.game_id = "<%= @game_id %>";
    window.player = "<%= @player %>";
<% end %>


<canvas width="410" height="410" style="margin:0 auto; display:block;"></canvas>

<h3>Send this link to your friend:</h3>
<%= join_url(@game_id) %>